body {
    padding: 25px 45px;
    font-family: Arial, sans-serif;
    margin-bottom: 100px;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    text-align: left;
    padding: 6px;
}

td {
    padding: 6px;
}

td.key {
    width: 250px;
}

.content {
    max-width: 860px;
    width: 100%;
    margin: auto;
}

.code-lines {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: stretch;
}

.code-line{
    border: 1px solid black;
    padding: 10px;
}

footer {
    margin-top: 50px;
    text-align: center;
}